.center {
    display: flex;
    justify-content: center;
}

.heavy {
    font-weight: 700;
}

.tight {
    padding-left: 60px;
    padding-right: 60px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container-even {
    display: flex;
    justify-content: space-evenly;
}

.profile-pic {
    border-radius: 50%;
    border: 5px #637E76 solid;
    height: 250px;
    width: 350px
}

h1, h2 {
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-size: 3rem;
    padding-top: 5px;
}

h3, h4, h5, p, li {
    font-family: 'Hedvig Letters Serif', serif;
}

p, li {
    font-size: 1.1rem;
}

h1, h2, footer {
    text-align: center;
}

hr {
    color: #637E76;
    border: 5px #79AC78 solid;
    border-radius: 50%;
}

.padded-left {
    padding-left: 30px;
}

.absolute {
    position: absolute;
    top: 25px;
    left: 25px
}

.btn-primary {
    background-color: #637E76;
    border: #637E76;
}

.btn-outline-primary {
    color: #637E76;
    border-color: #637E76;
}
